<div data-hook="admin_product_ad_channel_form_fields">

  <div class="left eight columns alpha" data-hook="admin_product_ad_channel_form_left">
    <div data-hook="admin_product_ad_channel_form_name">
        <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
        <%= f.text_field :name, :class => 'fullwidth title' %>
        <%= f.error_message_on :name %>
    </div>

    <div data-hook="admin_product_ad_channel_form_presentation">
        <%= f.label :presentation, Spree.t(:presentation) %>
        <%= f.text_area :presentation, {:rows => "5}", :class => 'fullwidth'} %>
        <%= f.error_message_on :presentation %>
    </div>
  </div>

  <div class="right four columns omega" data-hook="admin_product_ad_channel_form_right">

    <div class="clear"></div>

  <div class="clear"></div>

  <div data-hook="admin_product_ad_channel_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
